---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";

import { getCollection } from "astro:content";
import CategoryNav from "../components/CategoryNav.astro";


const posts = await getCollection("blog");

---

<Layout title="chiyyy.com">

  <section class="hero">
    <h1>記事が主役のブログ</h1>

    <p>
      AI・開発・仕事術・読書・日記について発信しています。
    </p>

    <CategoryNav />

  </section>

  <section>
    {
      posts.map((post) => (
        <PostCard post={post} />
      ))
    }
  </section>

</Layout>

<style>
.hero{
  margin-bottom:80px;
}

.hero h1{
  font-size:3rem;
  margin-bottom:16px;
}

.hero p{
  color:#666;
}
</style>